body {
	font: 16px/1.5em Lato, sans-serif;
	background: url('../images/header-background.jpg') center center no-repeat;
	background-size: cover; 
}
.main-container{
	margin-top: 1%;
	font-size: 2rem;
}
.user{
	text-align: center;
}
.cal-btn{
	display: inline-block;
	padding: 1.375rem 2.625rem 1.375rem 2.625rem;
	border: 0.125rem solid #00bfd8;
	border-radius: 2rem;
	background-color: #00bfd8;
	color: #fff;
	font: 700 2.5rem/0 "Raleway", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}
.pull-left {
	margin: 0 20px 0 0;
	width: 80px;
	font-size: 2rem;
}
.pull-right {
	margin: 0 0 0 20px;
	width: 80px;
	font-size: 2rem;
}
.progress {
	height: 2rem !important;
	position: relative;
}

.center-bar {
	border-left: 1px dashed #FFF;
	height: 100%;
	left: 50%;
	position: absolute;
}
@media (min-width: 992px) {
	
	ol li {
		float: left;
		margin-bottom: 1em;
		width: 50%;
	}

}